html {background-color: lightblue;}
.tauriel {background-color: bisque; display: inline-block; color:brown}
.starbuck {background-color: gray; display: inline-block; color: yellow}
.rika {background-color: teal; display: inline-block; color:lightgray}
p {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
ol {text-align: center; font-size: xx-large; color:darkblue;}
h1 {color: darkblue;}
