p { color: blue; font-size: x-large; margin-right: 1250px; padding: 15px;background-color: blanchedalmond; }

li { text-align: center; }

html { font-family: "Mystery Quest"; background-color: darkgrey;}